html {
  /* height: 100%; */
}
body {
  background-color: #393b44;
  touch-action: manipulation;
  /* min-height: 100%;
  display: grid;
  grid-template-rows: auto 1fr auto; */
  overflow: auto;
}
.header {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 40px;
  text-align: center;
  color: #d6e0f0;
}

.userX {
  width: 200px;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 143px;
  padding-left: 10px;
  /* border-color: rgb(95, 94, 94); */
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 7px 0 black;
  border: 0;
  border-radius: 15px;
  background-color: #ebecf1;
  color: #57514f;
}
.userY {
  width: 200px;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 143px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 7px 0 black;
  border: 0;
  border-radius: 15px;
  background-color: #ebecf1;
  color: #57514f;
}

.inputHeight {
  font-size: 22px;
  margin-right: 14px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.inputWidth {
  font-size: 22px;
  margin-right: 5px;
  font-family: "Roboto", sans-serif;
  font-weight: 100;
}
.topContainer {
  /* background-color: aqua; */
  width: 500px;
  margin: 0 auto;
  /* text-align: center; */
  /* border: white solid 1px; */
}
.top {
  margin: 0 auto;
}

#button {
  width: 210px;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 143px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 7px 0 black;
  border: 0;
  border-radius: 15px;
  background-color: #8d93ab;
  font-size: 13px;
}
.bbb {
  width: 210px;
  height: 30px;
  margin-top: 2%;
  margin-bottom: 2%;
  margin-left: 143px;
  padding-left: 10px;
  font-family: "Roboto", sans-serif;
  box-shadow: 0 0 7px 0 black;
  border: 0;
  border-radius: 15px;
  background-color: #8d93ab;
  font-size: 13px;
}

.maze {
  background-color: blue;
  width: 100px;
  height: 100px;
}
.tableBody {
  z-index: 1;
  /* text-align: center; */
  position: relative;
  background-color: rgb(255, 0, 0);
  /* width: auto;
  height: auto; */
  width: max-content;
  height: max-content;

  overflow: scroll;
  border: black solid 0.5px;
  display: inline-block;

  /* overflow: auto; */
}
.tableBody::-webkit-scrollbar {
  width: 0;
  height: 0;
}

.tableBody::-webkit-scrollbar-track {
  width: 0;
}
.tablecell {
  width: 60px;
  height: 60px;
  background-color: #8d93ab;
  border: black solid 0.5px;
  display: table-cell;
}

.tablerow {
  width: 60px;
  height: 60px;
  background-color: #8d93ab;
  border: black solid 0.5px;
  display: table-row;
}

.string {
  width: 60px;
  height: 60px;
  background-color: #8d93ab;
  border: black solid 0.5px;
}

.square {
  width: 60px;
  height: 60px;
  background-color: #8d93ab;

  border: #8d93ab solid 1px;
  /* border: black solid 0.5px; */
  float: left;
}

.gg {
  z-index: 2;
  width: 58px;
  height: 58px;
  left: 0px;
  top: 0px;
  background-color: black;
  /* border-radius: 50%; */
  box-shadow: 0 0 7px 0 black;
  border: 0;
  border-radius: 40px;
  position: absolute;
  /* text-align: center; */

  transition-property: left, top;
  transition-duration: 1s;
}

.finish {
  text-align: center;
  margin: auto;
  background-color: #8d93ab;
  content: "finish";
}
.finish ::before {
  content: "fff";
}

.win {
  animation-duration: 0.3s;
  animation-name: flashWin;
  animation-iteration-count: 4;
}
@keyframes flashWin {
  from {
    border: 6px green solid;
  }
  to {
    border: 2px black solid;
  }
}

.parent {
  text-align: center;
  margin-top: 0;
}
.footer {
  text-align: center;
  margin: 0 auto;
  margin-bottom: 5px;
}

.githubLogo {
  width: 50px;
  height: 50px;
}

/* @media screen and (max-width: 1280px) {
  .gg {
    width: 45px;
    height: 45px;
  }

  .square {
    width: 45px;
    height: 45px;
  }
  .tablerow {
    width: 45px;
    height: 45px;
  }
  .tablecell {
    width: 45px;
    height: 45px;
  }
  .string {
    width: 45px;
    height: 45px;
  }
} */

@media screen and (max-width: 420px) {
  body {
    width: auto;
  }
  .gg {
    width: 30px;
    height: 30px;
  }

  .square {
    width: 30px;
    height: 30px;
  }
  .tablerow {
    width: 30px;
    height: 30px;
  }
  .tablecell {
    width: 30px;
    height: 30px;
  }
  .string {
    width: 30px;
    height: 30px;
  }
  .top {
    width: auto;
  }
  .topContainer {
    width: auto;
    text-align: center;
  }
  .header {
    margin: 1% auto;
    font-size: 20px;
    width: auto;
  }
  .userX {
    margin: 2% 10%;
    width: 190px;
    height: 25px;
    text-align: center;
  }
  .userY {
    margin: 1% 10%;
    width: 170px;
    height: 25px;
    text-align: center;
  }
  .inputHeight {
    width: auto;
    margin: 1% auto;
  }
  .inputWidth {
    width: auto;
    margin: 1% auto;
  }
  #button {
    margin: 1% 10%;
    width: 150px;
    height: 25px;
  }
  #test {
    margin: 1% 10%;
    width: 120px;
    height: 25px;
  }
  .parent {
    text-align: center;
    margin: 2% auto;
  }
  .finish {
    font-size: 10px;
  }
  .keyboard {
    width: auto;
    height: 100px;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
  }
  .left {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #8d93ab;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 7px 0 black;
    touch-action: manipulation;
  }
  .right {
    width: 80px;
    height: 80px;
    /* margin-right: 25px; */
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #8d93ab;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 7px 0 black;
    touch-action: manipulation;
  }
  .up {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    /* margin-right: 10px; */
    font-size: 20px;
    background-color: #8d93ab;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 7px 0 black;
    touch-action: manipulation;
  }
  .down {
    width: 80px;
    height: 80px;
    border-radius: 50%;
    border: none;
    font-size: 20px;
    background-color: #8d93ab;
    font-family: "Roboto", sans-serif;
    box-shadow: 0 0 7px 0 black;
    touch-action: manipulation;
  }
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  select:focus,
  textarea:focus,
  input:focus {
    font-size: 16px;
  }
}
